<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <title>WiFiBus Backoffice</title>
    
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
          
    <!-- Custom Fonts --> 
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/4.7.0/css/font-awesome.min.css" 
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
        
    <!-- MetisMenu CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/metisMenu/2.5.2/metisMenu.min.css" rel="stylesheet"
        th:href="@{/webjars/metisMenu/2.5.2/metisMenu.min.css}" />
        
    <!-- Custom CSS -->
    <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet" 
        th:href="@{/css/sb-admin-2.min.css}"  />
    
       <!-- jQuery -->
    <script type="text/javascript" 
        src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" 
        src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    
    <script type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"
        th:src="@{/webjars/bootbox/4.4.0/bootbox.js}"></script>
     
    <!-- Metis Menu Plugin JavaScript -->
    <script src="http://cdn.jsdelivr.net/webjars/metisMenu/2.5.2/metisMenu.min.js"
        th:src="@{/webjars/metisMenu/2.5.2/metisMenu.min.js}" ></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="../../static/js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>
    
    <!-- JQuery Validator -->
    <script src="../../static/js/validate.js" th:src="@{/js/validate.js}"></script>
    
    <!-- Google API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-8Qd0q3Ji3zSTAyYuvDIgTxu8dNt3IeI&amp;libraries=places"></script>
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=KEY_API&amp;libraries=places"></script> -->
     
</head>

</html>
