<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
	<div th:fragment="responsePreview">
		<select class="form-control" th:attr="id='operators_' + ${elementId}">
			<option value="0">---</option>
	      	<option th:each="op : ${operators}" th:value="${{op}}" th:text="${op.displayName}">Op</option>
	    </select>
		<div th:attr="id='preview_' + ${elementId}">
			<input class="form-control" onchange="copyPreviewValue(this);" type="text" th:attr="id='previewValue_' + ${elementId}"/>
		</div>
	</div>									            
</html>