<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body layout:fragment="content">
	<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="page-header"><span th:if="${routerGroupForm.id == null}" th:remove="tag">Nuevo </span> Grupo</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                        	<form th:object="${routerGroupForm}" method="POST" th:action="@{${#httpServletRequest.servletPath}}" name="add-update-group-form">
								<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
						            <label class="form-label">* Nombre:</label>
						            <div class="controls">
						                <input class="form-control" type="text" th:field="*{name}" autofocus="true" />
						                <label class="control-label" th:errors="*{name}">[Errors]</label>
						            </div>
						        </div>
							    <div class="form-group" th:classappend="${#fields.hasErrors('descripcion')} ? has-error">
						            <label class="form-label">Descripción:</label>
						            <div class="controls">
						            	<textarea class="form-control" rows="2" th:field="*{descripcion}"/>
						                <label class="control-label" th:errors="*{descripcion}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('brand')} ? has-error">
						            <label class="form-label">Branding:</label>
						            <div class="controls">
						            	<select class="form-control" th:field="*{brand}">
						            		<option value="0">Sin Seleccionar</option>
							              	<option th:each="bd : ${brands}" th:value="${{bd}}" th:text="|${bd.name}|">Branding</option>
							            </select>
							            <label class="control-label" th:errors="*{brand}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('termAndCondition')} ? has-error">
						            <label class="form-label">Termino y Condiciones:</label>
						            <div class="controls">
						            	<select class="form-control" th:field="*{termAndCondition}">
						            		<option value="0">Sin Seleccionar</option>
							              	<option th:each="tm : ${terms}" th:value="${{tm}}" th:text="|${tm.name}|">Terms</option>
							            </select>
							            <label class="control-label" th:errors="*{termAndCondition}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('defaultCampaign')} ? has-error">
						            <label class="form-label">Campaña por defecto:</label>
						            <div class="controls">
						            	<select class="form-control" th:field="*{defaultCampaign}">
							              	<option th:each="cm : ${defaultCampaigns}" th:value="${{cm}}" th:text="|${cm.name}|">Group</option>
							            </select>
							            <label class="control-label" th:errors="*{defaultCampaign}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('campaign')} ? has-error">
						            <label class="form-label">Campañas</label>
						            <div class="controls">
						            	<select class="form-control" th:field="*{campaign}">
						            		<option value="0">Sin Seleccionar</option>
							              	<option th:each="cm : ${campaigns}" th:value="${{cm}}" th:text="|${cm.name}|">Group</option>
							            </select>
							            <label class="control-label" th:errors="*{campaign}">[Errors]</label>
						            </div>
						        </div>
						        <div class="row">
						        	<div class="col-lg-5">
						        		<label>Botones Disponibles:</label>
						        		<div class="text-center form-group">
											<button name="addButton" th:value="${bt.id}" class="btn btn-social-icon btn-xs" th:each="bt : ${buttonList}" th:classappend="|btn-${bt.type}|">
												<i class="fa" th:classappend="|fa-${bt.type}|"></i>
											</button>
										</div>
                            		</div>
                            		<div class="col-lg-5 form-group" th:classappend="${#fields.hasErrors('buttons')} ? has-error">
                            			<label>Botones Seleccionados:</label>
                            			<div class="text-center form-group">
                            				<button name="removeButton" th:value="${bt.id}" class="btn btn-social-icon btn-xs" th:each="bt, btRow : *{buttons}" th:classappend="|btn-${bt.type}|">
												<i class="fa" th:classappend="|fa-${bt.type}|"><input type="hidden" th:field="*{buttons[__${btRow.index}__].id}"/></i>
											</button>
                            			</div>
                            			<label class="control-label" th:errors="*{buttons}">[Errors]</label>
                            		</div>
		                        </div>
						        <div class="row">
						        	<div class="col-lg-5">
						        		<label>Preguntas Disponibles:</label>
						        		<div class="table-responsive overflow">
                                			<table class="table-responsive overflow table table-striped table-bordered table-hover">
			                                    <thead>
			                                        <tr>
			                                            <th>Pregunta</th>
			                                            <th>#</th>
			                                        </tr>
			                                    </thead>
			                                    <tbody>
			                                        <tr th:each="qt : ${questionList}">
			                                            <td th:text="${qt.label}"></td>
			                                            <td>
			                                            	<button type="submit" name="addQuestion" th:value="${qt.id}" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-plus"/></button>
			                                            </td>
			                                        </tr>
			                                    </tbody>
			                                </table>
			                            </div>
                            		</div>
                            		<div class="col-lg-5 form-group" th:classappend="${#fields.hasErrors('questions')} ? has-error">
						        		<label>Preguntas Seleccionadas:</label>
						        		<div class="table-responsive overflow" th:classappend="${#fields.hasErrors('questions')} ? has-error">
                                			<table class="table table-striped table-bordered table-hover">
			                                    <thead>
			                                        <tr>
			                                            <th>#</th>
			                                            <th>Pregunta</th>
			                                        </tr>
			                                    </thead>
			                                    <tbody>
			                                        <tr th:each="qt, qtRow : *{questions}">
			                                            <td>
			                                            	<button type="submit" name="removeQuestion" th:value="${qt.id}" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus"/></button>
			                                            </td>
			                                            <td th:text="${qt.label}"><input type="hidden" th:field="*{questions[__${qtRow.index}__].id}"/></td>
			                                        </tr>
			                                    </tbody>
			                                </table>
			                            </div>
			                            <label class="control-label" th:errors="*{questions}">[Errors]</label>
                            		</div>
		                        </div>
							    <div class="form-actions">
        							<a th:href="@{/groups}" class="btn btn-warning" >Cancelar</a>
        							<button type="submit" name="action" value="save" class="btn btn-info">Guardar Grupo</button>
    							</div>
							</form>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>