<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="page-header"><span th:if="${brandForm.id == null}" th:remove="tag">Nuevo </span> Branding</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                        	<form th:object="${brandForm}" method="POST" th:action="@{${#httpServletRequest.servletPath}}" name="add-update-brand-form">
								<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
						            <label class="form-label">* Nombre:</label>
						            <div class="controls">
						                <input class="form-control" type="text" th:field="*{name}" autofocus="true" />
						                <label class="control-label" th:errors="*{name}">[Errors]</label>
						            </div>
						        </div>
							    <div class="form-group" th:classappend="${#fields.hasErrors('descripcion')} ? has-error">
						            <label class="form-label">Descripción:</label>
						            <div class="controls">
						            	<textarea class="form-control" rows="3" th:field="*{descripcion}"/>
						                <label class="control-label" th:errors="*{descripcion}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('cobrand')} ? has-error">
						            <label class="form-label">* Cobranding:</label>
						            <div class="controls">
						                <input class="form-control" type="text" th:field="*{cobrand}" autofocus="true" />
						                <label class="control-label" th:errors="*{cobrand}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('logoImage')} ? has-error">
						            <label class="form-label">* Imagen del Logo:</label>
						            <div class="controls">
						                <input class="form-control" type="text" th:field="*{logoImage}" autofocus="true" />
						                <label class="control-label" th:errors="*{logoImage}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('backgroundImage')} ? has-error">
						            <label class="form-label">* Imagen de Fondo:</label>
						            <div class="controls">
						                <input class="form-control" type="text" th:field="*{backgroundImage}" autofocus="true" />
						                <label class="control-label" th:errors="*{backgroundImage}">[Errors]</label>
						            </div>
						        </div>
						        <div class="form-actions">
        							<button type="submit" name="action" value="cancel" class="btn btn-info">Cancelar</button>
        							<button type="submit" name="action" value="save" class="btn btn-info">Guardar Branding</button>
    							</div>
							</form>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<script type="text/javascript">
		var formInputs = [{
		    name: 'name',
			display: 'Nombre',
		    rules: 'alpha_dash'
		},{
		    name: 'cobrand',
			display: 'Cobranding',
		    rules: 'required'
		},{
		    name: 'logoImage',
			display: 'Imagen de Logo',
		    rules: 'required'
		},{
		    name: 'backgroundImage',
			display: 'Imagen de Fondo',
		    rules: 'required'
		}];
		var validator = new FormValidator('add-update-brand-form', formInputs, function(errors, event) {
		    if (errors.length > 0) {
				jQuery.each(formInputs, function(index, value) {
					$( "#error_" + value.name).remove();
				});
				jQuery.each(errors, function(index, value) {
					var parent = $( "#" + value.name).parent();
					parent.addClass("has-error");
					parent.append('<label id="error_' + value.name + '" class="control-label">' + value.message + '</label>');
				});
		    }
		});
	</script>
</body>
</html>