<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="page-header"><span th:if="${segmentForm.id == null}" th:remove="tag">Nuevo </span> Segmento</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                        	<form th:object="${segmentForm}" method="POST" th:action="@{${#httpServletRequest.servletPath}}" name="add-update-segment-form">
								<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
						            <label class="form-label">* Nombre:</label>
						            <div class="controls">
						                <input class="form-control" type="text" th:field="*{name}" autofocus="true" />
						                <label class="control-label" th:errors="*{name}">[Errors]</label>
						            </div>
						        </div>
							    <div class="form-group" th:classappend="${#fields.hasErrors('descripcion')} ? has-error">
						            <label class="form-label">Descripción:</label>
						            <div class="controls">
						            	<textarea class="form-control" rows="3" th:field="*{descripcion}"/>
						                <label class="control-label" th:errors="*{descripcion}">[Errors]</label>
						            </div>
						        </div>
						        <label class="form-label">Reglas que definen el Segmento:</label>
		        				<div class="panel-group" id="accordion">
	                                <div class="panel panel-info" th:each="itm, itmRow : *{items}">
	                                    <div class="panel-heading">
											<h4 class="panel-title">
												<button th:if="${itm.index > 1}" type="submit" class="close fa fa-times-circle" name="removeItm" th:value="*{items[__${itmRow.index}__].index}" aria-hidden="true">&nbsp;</button>
												<button th:if="${itm.index == 1}" type="submit" class="close fa fa-plus" name="action" value="addItm" aria-hidden="true">&nbsp;</button>
												<a data-toggle="collapse" data-parent="#accordion" th:href="@{'#collapse' + ${itm.index}}">
													<strong class="page-header">Regla <span th:text="${itm.index}"/></strong>
					                            </a>
											</h4>
										</div>
	                                    <div th:id="'collapse' + ${itm.index}" class="panel-collapse collapse" th:classappend="${itm.id == null} ? in" >
	                                        <div class="panel-body">
	                                            <div class="row">
	                                            	<div class="col-md-4">
			                                            <div class="form-group" >
													        <label class="form-label">* Pregunta:</label>
													        <div class="controls">
												            	<select class="form-control" th:field="*{items[__${itmRow.index}__].question}">
													              	<option value="0">Sin Seleccionar</option>
													              	<option th:each="qt : ${questions}" th:value="${qt.id}" th:text="${qt.label}">Question</option>
													            </select>
												            </div>
													    </div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="form-label">* Operador:</label>
												            <div class="controls">
												            	<select class="form-control" th:field="*{items[__${itmRow.index}__].operator}">
												            		<option value="0">Sin Seleccionar</option>
													              	<option th:each="op : ${T(com.vates.wifibus.backoffice.model.OperatorType).values()}" th:value="${{op}}" th:text="${op.displayName}">Op</option>
													            </select>
												            </div>
								                		</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="form-label">* Respuesta:</label>
												            <div class="controls">
												            	<input type="hidden" th:field="*{items[__${itmRow.index}__].value}"/>
												            	<div th:field="${itm.index}"></div>
												            </div>
								                		</div>
													</div>
												</div>
	                                        </div>
	                                    </div>
	                                </div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('items')} ? has-error">
									<label class="control-label" th:errors="*{items}">[Errors]</label>
								</div>
	                            <div class="form-actions">
        							<a th:href="@{/segments}" class="btn btn-warning" >Cancelar</a>
        							<button type="submit" name="action" value="save" class="btn btn-info">Guardar Segmento</button>
    							</div>
							</form>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<script type="text/javascript">
		var formInputs = [{
		    name: 'name',
			display: 'Nombre',
		    rules: 'required'
		}];
		var validator = new FormValidator('add-update-segment-form', formInputs, function(errors, event) {
		    if (errors.length > 0) {
				jQuery.each(formInputs, function(index, value) {
					$( "#error_" + value.name).remove();
				});
				jQuery.each(errors, function(index, value) {
					var parent = $( "#" + value.name).parent();
					parent.addClass("has-error");
					parent.append('<label id="error_' + value.name + '" class="control-label">' + value.message + '</label>');
				});
		    }
		});
		$(document).on('focus',".datepicker_field", function(){
			$(this).datetimepicker({locale: 'es'});
		});
	</script>
</body>
</html>